.iconButton {
  // margin-left: 10px;
  padding: 10px;
  // border: 1px solid grey;
  border: none;
  border-radius: 50%;
  // color: #fff;
  font: inherit;
  background-color: transparent;
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;
}
