.iconButton {
  padding: 10px;

  border: none;
  border-radius: 50%;

  font: inherit;
  background-color: transparent;
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;
}
