.iconButton {
  margin: 0;
  padding: 15px;
  border: none;
  border-radius: 50%;
  color: #fff;
  font: inherit;
  background-color: #4caf50;
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;
}
